<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bangz.smartmute" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RulelistActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".content.MuteRulesProvider"
            android:authorities="com.bangz.smartmute.provider"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <activity
            android:name=".WifiEditActivity"
            android:label="@string/title_activity_wifi_edit" >
        </activity>
        <activity
            android:name=".TimeRuleEditActivity"
            android:label="@string/title_activity_time_rule" >
        </activity>

        <service
            android:name=".services.TimeRuleAlarmService"
            android:exported="false" >
        </service>

        <service
            android:name=".services.WifiMuteService"
            android:exported="false" >
        </service>

        <receiver
            android:name=".WifiReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
